/Backend_data_xlsx
/cannon, jason - python for data analysis_ the python crash course comprehensive the programming from the ground up to python (2020) - libgen.li.pdf
/James R. Parker - Python_ An Introduction to Programming-Mercury Learning and Information (2021).pdf
/Jonathan Yates - Python Practical Python Programming For Beginners and Experts (2016, CreateSpace Independent Publishing Platform) - libgen.li.pdf
/Paul Gerrard - Lean Python  Learn Just Enough Python to Build Useful Tools-Apress (2016).pdf
/Starting out with Python (Tony Gaddis) (z-lib.org).pdf
/Starting_Out_with_Programming_Logic_and_Design_by_Tony_Gaddis_z.pdf
/Venit_Prelude_to_Programming_Concepts_and_Design_6th_Global_c2015.pdf